td {
    padding-left: 6px;
}

#twitterFeed{
    display: none;
}

.header >*{
    margin-top: 0px;
}

@media only screen and (max-device-width: 600px) {
    .header {background: red;}
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-device-width: 600px) {
    .header {background: green;}
  }

.header{
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    height: 20px;
    color: #b3b3b3;
    text-align: center;
}

.latIcon{
    font-size:10px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #818181;
}

.home.latIcon{
    color: #f1f1f1;
}

.subLMenu{
  display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.subLMenu >*{
    text-decoration: none;
    
}

.subLMenu > *:hover{
    color: #f1f1f1;
}

.subLMenu > * >*:hover{
    color: #f1f1f1;
}

.menuLateral {
    overflow: auto;
    position: fixed;
    width: 50px;
    background-color: rgb(33, 33, 33);
    left: 0;
    top: 20px;
    bottom: 0;
    font-size: 22px;
    /*background-color: red;*/
    text-align: center;
    z-index: 2;
    padding-bottom: 10px;
}

#contenedorLateral {
    display: inline-block;
    margin-left: 25.1px;
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 20px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 15px;
}
  
.cLateral a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  

.cLateral a:hover {
    color: #f1f1f1;
}
  
.cLateral .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
#terminal{
    background-color: black;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    height: 80px;
    color: #b3b3b3;
    padding-bottom: 22.5px;
}

pre.bash {
    font-size: medium ; 
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    width: 100%;
    display: inline-block;
}
span.bash.user{
    color: rgba(26, 237, 103, 0.741);
}

span.bash.directory{
    color: rgba(29, 106, 189, 0.618);
}
span.bash.username{
    position: relative;
    color: rgba(240, 122, 240, 0.83);
}

span.bash.mail{
    position: relative;
    color: rgba(152, 248, 239, 0.83);
}
span.bash.mail>a{
    text-decoration: none;
}

span.bash.age{
    color:rgba(243, 243, 89, 0.789);
    position: relative;
}
span.bash.username span{
    position:absolute;
    right:0;
    width:0;
    background: black;
    border-left: 1px solid #818181;
    animation: write 3s steps(44);
}

span.bash.mail span{
    position:absolute;
    right:0;
    width:0;
    background: black;
    border-left: 1px solid #818181;
    animation: write 1.55s steps(24);
}
.profilePic{
    height: 21vw;
}
div .bio{
    overflow: auto;
    height: 21vw;
}
div.bio>*{
    margin-top: 0px;
}

span.bash.age span{
    position:absolute;
    right:0;
    width:0;
    background: black;
    border-left: 1px solid #818181;
    animation: write_erase 8s steps(54) infinite; 
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-top: 15px;
    margin-left: 40px;
    overflow:hidden;
    margin-bottom:80px;
    color: #f1f1f1;
    
}

body{
    background-color: rgb(45, 45, 45);
}

@media screen and (max-device-height: 450px) {
    .cLateral {padding-top: 15px;}
    .cLateral a {font-size: 18px;}
}


@keyframes write {
    0%{
        width: 100%; 
    }
    100%{
        width: 0%;
    }
}

@keyframes write_erase {
    0%{
        width: 100%; 
    }

    30%{
        width:0 
    }

    70%{
        width: 0;
    }

    100%{
        width: 100%;
    }
}

  .card {
    width: 100%;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 12px;
  }
  .card>p{
      text-align: left;
  }
  .graph {
    height: 25vh;
    position: relative;
    border-bottom: #818181 3px solid;
  }
  
  .bar {
    position: absolute;
    bottom: 0;
    width: 7%;
    height: 0%;
    background-image: linear-gradient(to bottom right, #990033 0%, #712c69 100%);
  }
  
  .bar-1 {
   left: 0%;
    height: 25%;
    animation: raiseHeight100 3s forwards linear;
  }
    
  .bar-2 {
     left: calc(10.33333%*1);
     height: 25%;
     animation: raiseHeight75 2s forwards linear;
   }

  .bar-3 {
      left: calc(10.33333%*2);
    animation: raiseHeight50 2.5s forwards linear;
  }
  .bar-4 {
    left: calc(10.33333%*3);
  animation: raiseHeight90 3s forwards linear;
    }
.bar-5 {
    left: calc(10.33333%*4);
    animation: raiseHeight65 2.5s forwards linear;
}
.bar-6 {
    left: calc(10.33333%*5);
  animation: raiseHeight90 3s forwards linear;
}
.bar-7 {
    left: calc(10.33333%*6);
  animation: raiseHeight60 2s forwards linear;
}
.bar-8 {
    left: calc(10.33333%*7);
  animation: raiseHeight80 4s forwards linear;
}
.bar-9 {
    left: calc(10.33333%*8);
  animation: raiseHeight85 2.5s forwards linear;
}

.bar-10 {
    left: calc(10.33333%*9);
  animation: raiseHeight75 3s forwards linear;
}
  
  @keyframes raiseHeight100 {
    0% {height: 0%;
    }
    90% {
      height: 80%;
      
    }
    100% { height: 100%;
  }
  }

  @keyframes raiseHeight75 {
    0% {height: 0%;
    }
    90% {
      height: 50%;
      
    }
    100% { height: 75%;
  }
  }

  @keyframes raiseHeight50 {
    0% {height: 0%;
    }
    90% {
      height: 80%;
      
    }
    100% { height: 50%;
  }
  }

  @keyframes raiseHeight90 {
    0% {height: 0%;
    }
    50%{
        height: 60%; 
    }
    65% {
      height: 30%;
      
    }
    100% { height: 90%;
  }
  }

  @keyframes raiseHeight65 {
    0% {height: 0%;
    }
    50%{
        height: 60%; 
    }
    65% {
      height: 40%;
      
    }
    100% { height: 65%;
  }
  }

  @keyframes raiseHeight80 {
    0% {height: 0%;
    }
    100% { height: 80%;
  }
  }

  @keyframes raiseHeight60 {
    0% {height: 0%;
    }
    25% {height: 50%;
    }
    85%{
        height: 55%;
    }
    100% { height: 60%;
  }
  }

  @keyframes raiseHeight85 {
    0% {height: 0%;
    }
    100% { height: 85%;
  }
  }